html,
body {
    margin: 0;
    padding: 0;
}


/* General Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #282828;
    color: #ffcc00;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: 2px solid #ffcc00;
    background-color: #333;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #ffa500;
}


/* Character List */

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}


/* Character Card */

.character-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.character-card:hover {
    background-color: rgba(255, 204, 0, 0.8);
}


/* Character Details */

.character-details {
    display: none;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.character-info-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* Character Image */

.character-image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    /* Ensure the image fits within the container without distortion */
    border: 2px solid #ffcc00;
}

.character-description {
    width: 50%;
    padding-left: 20px;
}

.character-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.character-details p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.character-details #backButton {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* Centers the button */
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.character-details #backButton:hover {
    background-color: #ffa500;
}


/* Loading Indicator */

.loading-indicator {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #ffcc00;
}


/* Trailer Section */

#movieTrailer {
    margin-top: 20px;
}

iframe {
    display: none;
    width: 100%;
    height: 315px;
    margin-top: 20px;
}

#trailerError {
    color: red;
    font-size: 1.2rem;
    margin-top: 10px;
}